.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 4.6rem 0 0 5rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}

.rtl{
  .layout-main-container {
    padding: 4.6rem 5rem 0 0;
  }
}
