.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 70px;
    }
}

.ng-hidden {
    display: none !important;
}

.tw-card-00AECC{
  background-color: #00AECC !important;
}
.tw-card-0971CE{
  background-color: #0971CE !important;
}
.tw-card-44546F{
  background-color: #44546F !important;
}
.tw-card-273362{
  background-color: #273362 !important;
}

.tw-glass-background {
  /* From https://css.glass */
  background: rgba( 255, 255, 255, 0.25 ) !important;
  // box-shadow: 0px 4px 30px rgba(221, 224, 255, 0.54) !important;
  backdrop-filter: blur( 1.5px ) !important;
  -webkit-backdrop-filter: blur( 1.5px ) !important;
  // border-radius: 10px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}
